@charset "UTF-8";
/* mobile.scss */
/* 초기화 코드 불러오기 */
/* reset.scss */
/* 모든 스타일에서 공통사용 */
/* 컬러 변수 선언 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
}

p {
  margin-bottom: 1em;
}

/* 각 섹션 영역의 공통 헤더 스타일 */
.section_header > span {
  font-size: 24px;
  font-weight: bolder;
  /* background: #fef200; */
  text-align: right;
  padding-left: 50px;
}

.section_header > h2 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 50px;
}

body {
  color: #5d5d5d;
}

/* 헤더 및 gnb */
#main_header {
  position: relative;
  background: #171717;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  position: relative;
}

#main_gnb {
  background: #5d5d5d;
  position: relative;
  top: 75px;
  padding: 1em;
  z-index: 999;
}

#main_gnb li a {
  color: #000000;
  display: block;
  padding: 0.4em;
  color: #fff;
}

#main_gnb li a:hover {
  background: #ffffff;
  color: #000000;
}

#main_header > .logo > h1 > a {
  position: absolute;
  font-size: 16px;
  color: white;
  line-height: 75px;
  left: 20px;
  top: 0;
  font-weight: bolder;
}

#btn_toggle {
  position: absolute;
  right: 20px;
  top: 25px;
  background: none;
  border: none;
}

#btn_toggle > .fa-bars {
  color: #fff;
  font-size: 22px;
}

/* 메인 비주얼 */
#main_visual {
  width: 100%;
  height: calc(100vh - 75px);
  background: #ccc;
  overflow: hidden;
  background-image: url("../images/visual.jpg");
  background-size: cover;
}

#main_visual > .left > .title {
  position: absolute;
  width: 80%;
  height: 100px;
  background: #fef200;
  left: calc(50% - 40%);
  top: calc(50% - 50px);
  padding: 20px;
  color: #000;
}

#main_visual header h2 span {
  display: block;
}

#main_visual header h2 span:first-child {
  font-size: 20px;
  text-transform: uppercase;
}

#main_visual header h2 span:last-child {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
}

/* about */
#about {
  width: 100%;
  padding-top: 100px;
  background: #ececec;
  overflow: hidden;
}

#about > .about_left {
  position: relative;
  width: 100%;
  background-image: url("../images/shape01.png");
  background-repeat: no-repeat;
  background-position: 260px 470px;
  margin-bottom: 80px;
  text-align: center;
}

#about > .about_left > img {
  position: relative;
  width: 50%;
  display: inline-block;
  -webkit-box-shadow: -40px -40px 1px #202020;
          box-shadow: -40px -40px 1px #202020;
  left: 20px;
}

#about > .about_right {
  width: 100%;
  /* outline: 1px solid red;   */
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
}

/* 작품소개 */
#works {
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
}

#works .section_header {
  text-align: center;
}

#works .section_header > span {
  padding-left: 160px;
}

#works > nav {
  text-align: center;
  font-size: 16px;
  margin-bottom: 80px;
}

#works > nav > a {
  color: #202020;
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-transform: uppercase;
  font-weight: bolder;
}

#work_list {
  width: 100%;
}

#work_list > li {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  margin-bottom: 40px;
  padding-left: 1em;
  padding-right: 1em;
}

#work_list > li img {
  width: 100%;
}

#work_list > li > a > .info {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 1em;
}

#work_list > li > a > .info h4 {
  color: #000;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#work_list > li > a > .info p {
  font-size: 16px;
  color: #666;
}
/*# sourceMappingURL=mobile.css.map */