/* mobile.scss */
/* 초기화 코드 불러오기 */
@import './reset.scss';

// 헤더 높이값
$header_height: 75px;

body {
  color: $header-bg-color;
}

/* 헤더 및 gnb */
#main_header {
  position: relative;
  background: $visual-box-color;
  width: 100%; 
  height: $header_height;
  margin: 0 auto;
  position: relative;
}
#main_gnb { 
  // display: none;
  background: $header-bg-color;
  position: relative;
  top: $header_height;
  padding: 1em;
  z-index: 999;
}
#main_gnb li {

}
#main_gnb li a { 
  color: $font-color;
  display: block;
  padding: 0.4em;
  color: #fff;
}
#main_gnb li a:hover {
  // text-decoration: underline;
  background: #ffffff;
  color: $font-color;
}

// 로고 타이틀
#main_header > .logo > h1 > a {
  // outline: 1px solid red;
  position: absolute;
  font-size: 16px;
  color: white;
  line-height: 75px;
  left: 20px; top: 0;
  font-weight: bolder;
}

// 토글버튼
#btn_toggle {
  position: absolute;
  right: 20px; top: 25px;
  background: none;
  border: none;
}
#btn_toggle > .fa-bars {
  color: #fff;
  font-size: 22px;
}


/* 메인 비주얼 */
#main_visual {
  width: 100%; 
  height: calc(100vh - 75px);
  background: #ccc;
  overflow: hidden;
  background-image: url('../images/visual.jpg');
  background-size: cover;
}

#main_visual > .left > .title {
  position: absolute;
  width: 80%; height: 100px;
  background: $main-color;
  left: calc(50% - 40%);
  top: calc(50% - 50px);
  padding: 20px;
  color: #000;
}
#main_visual header h2 span{
  display: block;
}
#main_visual header h2 span:first-child {
  font-size: 20px;
  text-transform: uppercase;
}
#main_visual header h2 span:last-child {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
}


/* about */
#about {
  width: 100%;
  padding-top: 100px;
  background: #ececec;
  overflow: hidden;
}

#about > .about_left {
  position: relative;
  width: 100%;
  // outline: 1px solid red;
  background-image: url('../images/shape01.png');
  background-repeat: no-repeat;
  background-position: 260px 470px;
  margin-bottom: 80px;
  text-align: center;
}
#about > .about_left > .box {
}
#about > .about_left > img {
  position: relative;
  width: 60%;
  display: inline-block;
  box-shadow: -40px -40px 1px #202020;
  left: 20px;
}





#about > .about_right {
  width: 100%;
  /* outline: 1px solid red;   */
  padding-top: 50px;
  border: 2px solid red;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
}

.section_header > span{ 
  font-size: 24px;
  font-weight: bolder;
  /* background: #fef200; */
  text-align: right;
  padding-left: 50px;
}
.section_header > h2 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 50px;
}