/* reset.scss */
/* 모든 스타일에서 공통사용 */
/* 컬러 변수 선언 */
$main-color: #fef200;
$header-bg-color: #5d5d5d;
$visual-box-color: #171717;
$font-color: #000000;

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
a{ text-decoration: none;}
ul { list-style-type: none;}
body {
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
  scroll-behavior: smooth;
}
p { margin-bottom: 1em; line-height: 1.6;}

/* 각 섹션 영역의 공통 헤더 스타일 */
.section_header {

}
.section_header > span{ 
  font-size: 24px;
  font-weight: bolder;
  /* background: #fef200; */
  text-align: right;
  padding-left: 50px;
}
.section_header > h2 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 50px;
}


